/* @import "@nuxt/ui"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
html[lang="ar"] {
  direction: rtl;
  flex-direction: row-reverse;
  text-align: right;
}

html[lang="en"] {
  direction: ltr;
  text-align: left;
}
/* This disables the overlay tint effect across all components. */
:root {
  --v-theme-overlay-multiplier: 0 !important;
}

/* تعطيل الترانزيشنات الخاصة بـ Vuetify */
/* .v-enter-active,
.v-leave-active,
.v-expand-transition,
.v-slide-x-transition,
.v-slide-y-transition {
  transition: none !important;
} */

/* إزالة أي تظليل أو تأثير عند التحويم */
/* .no-vuetify-style:hover,
.no-vuetify-style:focus,
.no-vuetify-style:active {
  background-color: inherit !important;
  filter: none !important;
  box-shadow: none !important;
} */

/* إلغاء تأثيرات الـ Ripple الافتراضية */
/* .v-ripple__container {
  display: none !important;
} */

/* 
::root {
  --color-primary: #2563eb; 
  --color-primary-hover: #1d4ed8; 
  --color-secondary: #000000;
  --color-secondary-hover: #2563eb;
}

.theme-green {
  --color-primary: #22c55e; 
  --color-primary-hover: #15803d; 
  --color-secondary: #16a34a;
  --color-secondary-hover: #166534;
}

.theme-red {
  --color-primary: #ef4444;
  --color-primary-hover: #b91c1c; 
  --color-secondary: #dc2626;
  --color-secondary-hover: #991b1b;
}

.theme-dark {
  --color-primary: #0f172a; 
  --color-primary-hover: #1e293b; 
  --color-secondary: #334155;
  --color-secondary-hover: #475569;
} */
